body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  min-height: 100vh;
  background: #0f172a;
  color: white;
}

/* LEFT */
.left {
  background: linear-gradient(180deg, #4f46e5, #6366f1);
  padding: 20px;
}

/* CENTER */
.center {
  text-align: center;
  padding: 20px;
}

.screen {
  margin: 20px auto;
  width: 60%;
  padding: 10px;
  background: white;
  color: black;
  border-radius: 20px;
}

/* SECTIONS */
.section {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 5px 0;
}

/* SEATS */
.seat {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #e2e8f0;
}

.seat:hover {
  transform: scale(1.1);
}

.seat.selected {
  background: #6366f1;
}

.seat.booked {
  background: gray;
  cursor: not-allowed;
}

/* RIGHT */
.right {
  background: #1e293b;
  padding: 20px;
}

.right button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 25px;
  border: none;
  background: #6366f1;
  color: white;
  cursor: pointer;
}